*{
    margin: 0;
    padding: 0;
}

div{
    margin: 10px; /* margin externo */
    background: gray;
    padding: 10px; /* margin interno el contenido*/
    padding-left: 60px;
    text-align: justify;
}