.flex-container{
    display: flex;
    padding: 1em;
    /*align-items: center;*/
}

.flex-item{
    background: blue;
    color: white;
    box-sizing: border-box;
    font-size: 1.2em;
    padding: 1em;
    text-align: center;
    flex: 1;
    /*----min-height: */
}

.flex-item:first-child{
    flex: 0 0 50%;
}